html {
  --border-radius-large: 10px;
  --border-radius-small: 5px;
}

#Front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100vh;
  width: 100vw;

  h1 {
    color: skyblue;
    font-size: 4rem;
  }

  .Tabs {
    width: 64vw;
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      background: transparent;
      margin-bottom: 2rem;
      border: none;
      &:focus {
        outline: none;
      }
      &.active {
        border-bottom: 2px solid skyblue;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .Tab-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 36%;
      border: none;
      border-bottom: 1px solid #EBEDEF;
      background-color: transparent;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: start;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 1rem;
      &::placeholder {
        color: lightgray;
      }
      margin: 0.1rem;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 36%;
      border: none;
      font-weight: 100;
      margin: 0.5rem;
      border-radius: var(--border-radius-small);
      background: lightgray;
      color: white;
      padding: 0.5rem;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
        background: skyblue;
      }
    }
  }
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Chats {
  width: calc(100% / 3.2);
  min-width: 300px;
  height: 100%;
  background: white;

  .Modal {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 200px;
    background-color: white;
    border-radius: var(--border-radius-small);
    list-style: none;
    padding: 0;
    li {
      list-style: none;
      padding: 0.15rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        background: whitesmoke;
        cursor: pointer;
      }
      &:first-of-type {
        border-top-left-radius: var(--border-radius-small);
        border-top-right-radius: var(--border-radius-small);
      }
    }
  }

  .Header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .Actions {
      @extend .HeaderActions;
    }
    
  }

  #Chats-Search {
    display: flex;
    background: #EBEDEF;
    border-radius: var(--border-radius-large);
    padding: 1rem;
    margin: 0 1rem;
    input {
      background: transparent;
      border: none;
      font-size: 1rem;
      width: 100%;
      &:active, &:focus {
        outline: none;
      }
    }
  }
}

.Chat {
  width: calc(100% / 1.3);
  height: 100%;
  max-width: calc(100vw - 300px);
  background: skyblue;

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    #Chat-Room-Title {
      display: flex;
      align-items: center;
      button {
        @extend .HeaderButton;
      }
    }
    .Actions {
      @extend .HeaderActions;
    }
  }
}

.HeaderActions {
  display: flex;
  justify-content: end;
  button {
    @extend .HeaderButton;
  }
}

.HeaderButton {
  background-color: transparent;
  border: none;
  margin: 0 3px;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  &:last-of-type {
    font-size: 1.8rem;
  }
  display: flex;
  align-items: center;
  justify-content: center;;
  &:hover {
    cursor: pointer;
    background: #EBEDEF;
  }
}